body{
background-color: rgb(29, 26, 26);
color: rgb(255, 255, 255);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: medium;
text-align: left;
}
h1{
text-align: center;
margin: 0% 0% 0% 0%;
}
p{
margin: inherit;
}

.column {
float: left;
}

/* Left and right column */
.column.left {
width: 60%;
}

/* Middle column */
.column.right {
width: 40%;
}

/* Container for Board items*/
.grid-container {
font-family: monospace;
display: grid;
grid-template-columns: repeat(7,1fr);
background-color: rgb(55, 102, 37);
border-style: groove;
border-color: black;
border-radius: 20px;
padding: 10px;
}
.grid-item {
background-repeat: no-repeat;
background-size: 75%;
background-position: center;
background-color: rgb(136, 136, 136);
border: 1px double rgb(0, 17, 31);
border-radius:0px;
color: black;
text-align: center;
-webkit-user-select: none;
padding-top: 35%;
padding-bottom: 40%;
}
/* Button to choose columns*/
.grid-item-button{
width: 0px; 
height: 10px; 
border-left: 3.5vw solid transparent;
border-right: 3.5vw solid transparent;
border-top: 3.5vw solid rgb(136, 212, 35);
border-style: solid;
}
.grid-item-button:hover{
border-top-color: rgb(224, 255, 113);
}

/* Form for starting New Game*/
fieldset{
background-color: rgb(33, 75, 16);
border: solid black;
margin: 5% 1% 5% 5%;
}

form{
background-color: rgb(23, 54, 11);
border-style: groove;
border-color: black;
border-radius: 30px;
}

input{
background-color: rgb(23, 54, 11);
border: inset black;
border-radius: 15px;
font-size: large;
font-family: inherit;
color: inherit;
text-align: right;
margin: 2% 2% 2% 2%;
padding: 5px
}

input:hover{
background-color: rgb(136, 212, 35);
}

label{
margin-left: 10px;
margin-right: 10px;
font-weight: bolder;
}

/* Container for buttons (Make Best Move, Undo Move, Run Tests)
    and status indicator
*/
.game-button-container{
display: grid;
grid-template-columns: auto auto auto;
margin: 0% 5% 0% 5%;
}

.game-button{
background-color: rgb(33, 75, 16);
font-size: large;
border-style: solid;
border-color: black;
border-radius: 20px;
margin: 10% 10% 10% 10%;
padding: 5px;
text-align: center;
-webkit-user-select: none;
}

.game-button:hover{
background-color: rgb(136, 212, 35);
}

.game-status{
text-align: center;
grid-column: 1/ span 3;
margin: 20% 20% 20% 20%;
}

@media screen and (min-width: 800px) {
[class="column"]{
padding: 10px;
}
}